* {
  font-family: "Comfortaa", cursive;
}

#main_menu {
  position: fixed;
  width: 100%;
  text-align: right;
  background-color: slategray;
  border-bottom: 7px solid rgb(10, 10, 10);
  top: 0;
  /* margin-bottom: 35%%; */
  z-index: 100;
  height: auto;
  border-radius: 1em;
}

#main_menu a:hover {
  box-shadow: 2px 2px 2px 2px darkgreen;
}

.icon {
  position: fixed;
  top: 0;
  left: 33px;
  font-size: 22pt;
  border: 2px solid black;
  border-radius: 1em;
  background-color: salmon;
  padding: 1px;
}

nav a {
  text-decoration: none;
  padding-right: 40px;
  padding-left: 40px;
  font-size: 22pt;
  border-left: 3px solid silver;
  border-radius: 0.5em;
}

/* nav a:hover {
  transform: scale(145%);
} */

h1 {
  text-align: center;
}

#central {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 49px;
  background-color: whitesmoke;
  margin-left: 13px;
}

#central #intro {
  text-align: center;
}

#contact {
  text-align: center;

  background-color: rgba(161, 80, 80, 0.144);
  padding-bottom: 1%;
  line-height: 1.3;
  border-radius: 1em;
  margin: 1%;
}
#contact li {
  list-style-type: none;
}
input {
  margin: 1%;
}

article {
  background-color: whitesmoke;
  margin: 1%;
}

#main-project {
  display: flex;
  background-image: url("https://images.unsplash.com/photo-1582683522098-72ad7b0883a2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80");

  min-height: 350px;
  margin: 1%;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
}

.work-folder1 div {
  width: 46%;
  display: flex;
  flex-direction: row;
  background-image: url("https://images.unsplash.com/photo-1582683522098-72ad7b0883a2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80");

  height: 200px;
  justify-content: center;
  align-items: center;
  margin: 2%;

  border-radius: 1em;
}

.work-folder2 div {
  display: flex;
  flex-direction: row;
  background-image: url("https://images.unsplash.com/photo-1582683522098-72ad7b0883a2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80");
  width: 46%;
  height: 200px;
  justify-content: center;
  align-items: center;
  margin: 2%;

  border-radius: 1em;
}

.work div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  white-space: nowrap;
  background-image: url(https://images.unsplash.com/photo-1542885421-3fb3de1f9f0b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=772&q=80);
  border-radius: 1em;
  padding-top: 2%;
  margin-top: 2%;
}

.work div a {
  color: whitesmoke;
  font-size: 30pt;
  text-align: center;
}

a:link {
  color: rgb(44, 42, 42);
}

#contact h2 {
  padding-top: 3%;
}

@media only screen and (max-width: 600px) {
  nav {
    display: none;
  }
  .work div a {
    font-size: medium;
    color: whitesmoke;
  }
}
