
* {
    font-family: Arial, Helvetica, sans-serif;
    
}

#main_menu {
    position: fixed;
    width: 100%;
    text-align: right;
    background-color: slategray;
    border-bottom: 4px dashed rgb(42, 8, 104);
    top: 0;
    /* margin-bottom: 35%%; */
    z-index: 100;
    height: 72px;
    border-radius: 1em;
    padding-bottom: 24px;

    
}

.icon {
    position: fixed;
    top:0;
    left:33px;
    font-size: 30pt;
    border: 2px solid black;
    border-radius: 1em;
    background-color: salmon;
    padding: 3px;
    margin-top: 12px;
    
}

nav a {
    text-decoration: none;
 padding-right: 40px;
 padding-left: 40px;
    font-size: 33pt ;
    border-left: 3px solid silver;
    border-radius: .5em;
    padding-bottom: 10px;
}



 h1 {
   
text-align: center;
  
 }

#central {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 49px;
    background-color: whitesmoke;
    margin-left: 13px;
   
    
} 

#central #intro {
    text-align: center;
   
}




#contact {
    
    text-align: center;
    background-image: url('https://images.unsplash.com/photo-1610806812997-ab9b37287597?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80');
   
    padding-bottom: 1%;
    line-height: 1;
    border-radius: 1em;
    margin: 1%;
    
}
#contact li {
    list-style-type: none;
}
input {
    margin: 1%;
}


article {
    background-color: whitesmoke;
    margin: 1%;
}




#main-project {
    display: flex;
   background-image: url('https://images.unsplash.com/photo-1598314348326-f51eef7c5c64?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    
    min-height: 350px;
     margin: 1%;
     justify-content: center;
     align-items: center;
     border-radius: 1em;
}

   .work-folder1 div {
       width: 46%;
    display: flex;
    flex-direction: row;
    background-image: url('https://images.unsplash.com/photo-1518563077661-23ad56581d77?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2072&q=80');
 
    height: 200px;
    justify-content: center;
    align-items: center;
    margin: 2%;
  


border-radius: 1em;
   }

   .work-folder2 div {
    
    display: flex;
    flex-direction: row;
    background-image: url('https://images.unsplash.com/photo-1518563077661-23ad56581d77?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2072&q=80');
 width: 46%;
    height: 200px;
    justify-content: center;
    align-items: center;
margin: 2%;

border-radius: 1em;
}

.work-folder1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.work-folder2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.work-folder1 div a {
    color:aliceblue;
}

.work-folder2 div a {
    color:aliceblue;
}
img {
    display: inline;
    width: 80px;
    border-radius: 1em;
    height: auto;
  text-align: left;
    
}


div a {
  font-size: 36pt;  
}

.icon2 {
    align-items: flex-start;
    margin-right: 372px;
    margin-top: 12px;
}

#main h1 {
    margin-top: 6%;
}


@media only screen and (max-width: 600px) {
#main_menu {
    
    display: none;
}
div {
    width: 100%;
}
div a {
    font-size: 10pt;
}
    }